[MASTER]
init-hook=
    import sys, os;
    import subprocess;
    _repo_root = subprocess.check_output(['git', 'rev-parse', '--show-toplevel'], text=True).strip();
    _tools_fix = os.path.join(_repo_root, 'tools', 'fix');
    if _tools_fix not in sys.path: sys.path.insert(0, _tools_fix)

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    W1514,
    W0611,
    R0903,
    C0301,
    E0401
